{
    "ecmaFeatures": {
        "blockBindings": true,
        "forOf": true,
        "classes": true,
        "defaultParams" : true,
        "superInFunctions" : true,
        "templateString" : true,
        "jsx" : true
    },
    "rules": {
        "semi": 2
    }
}